COMPOSE_PROJECT_NAME=icloud-mail
ICLOUD_API_PORT=8788
ICLOUD_API_IMAPS_PORT=1993
ICLOUD_API_PUBLIC_IMAP_SERVER_NAME=localhost
DOCKER_HUB_MIRROR=docker.io
GOPROXY=https://proxy.golang.org,direct
NPM_REGISTRY=https://registry.npmjs.org
ALPINE_MIRROR=dl-cdn.alpinelinux.org
